@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Custom scrollbar for Webkit browsers (Chrome, Safari, Edge) */
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #374151; /* gray-700 */
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #4b5563; /* gray-600 */
  }

  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #374151 transparent;
  }
}
